.before-grid {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.before-grid h3 {
    align-self: flex-start;
}

.before-grid table {
    border-spacing: 0.1em;
    border: none;
}

.before-grid tr {
    height: 2.2rem;
}

.before-grid td {
    padding: 0.3rem 0.1rem;
    font-size: 0.5rem;
}