.App {
  text-align: center;
}

.pallete {
  padding: 1rem;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 0.1rem solid #f2f2f2;
}

.color-buttons{
  margin-left: 3rem;
}

.color-buttons div {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 15px;
  border-radius: 50%;
  padding: 0.1rem;
}

.color-buttons .active{
  border: solid DarkKhaki;
}